

.sorting-wight,.search-widght{
    padding: 7px 15px;
    -webkit-box-shadow: 1px 2px 13px 5px rgba(149, 146, 146, 0.33); 
    box-shadow: 1px 2px 13px 5px rgba(143, 140, 140, 0.33);
    border-radius: 5px;
    input{
        border:none;
        outline: none;
    }
}