.home{

    .home-1{

        display: flex;
        align-items: center;
        justify-content: center;
    h5{
        font-size: 1.5rem;
    }

    h1{
        font-size: 2.5rem;
        color: var(--blue-navy);

        span{
            color: var(--color-hover);
            font-weight: bold;
        }

    }

    p{
        font-size: 1rem;
        line-height:30px;
        margin-bottom: 30px;
        color:var(--gray);
    }

    img{
        width: 80%;
    }

    .hero-btn{
      
        padding: 20px 0;

        .order__btn,.all-foods-btn{
            border: none;
            outline: none;
            background-color:var(--color-hover);
            padding: 10px;
            border-radius:5px;
            color:#ffffff;
            width: 20%;
            font-size: 18px;

            &:hover{
                color: var(--color-hover);
                background: #fff;
                -webkit-box-shadow: 0px 0px 15px -4px #000000; 
                box-shadow: 0px 0px 15px -4px #000000;
            }
        }

       
    }


}

.home-3{

    h5{
        color: var(--blue-navy);
    }

    h2{
        color: var(--blue-navy);
        font-size: 2.5rem;

        span{
            font-weight: bold;
            color: var(--color-hover);
        }
    }

    .feature-item{
        -webkit-box-shadow: 2px 2px 21px 2px rgba(107, 101, 101, 0.4); 
        box-shadow: 2px 2px 21px 2px rgba(115, 109, 109, 0.4);
        padding: 10px;
        cursor: pointer;
     
     
        h5{
            color: var(--blue-navy);
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 20px;
        }

        p{
            font-size: 0.9rem;
            color: var(--gray);
        }

        &:hover{
            background-color: var(--bg);
        }
    }

    
    
}

    
.pupular{
    .food__category{
        background-color: var(--color-hover);
        margin-top: 30px;
        padding: 20px 0;
        text-align: center;
        border-radius:5px;
     
      

        button{
            border:none;
            outline: none;
            padding: 5px;
            background: transparent;
            color:#fff;

            img{
                width: 40%;
                padding-left: 5px;
            }
        }

        .foodBtnActive{
            background: #fff;
            border-radius: 5px;
            color:var(--color-hover);
        }
       
   
    }

   
}

  //why-react
  .why{
    .why__testy-react{
        
        text-align: center;
        align-items: center;
        padding-top: 25%;

        .teasty{
            font-size: 2.2rem;
            font-weight: 100;
            margin-bottom: 30px;
            
            span{
                font-weight: bold;
                color: var(--color-hover);
            }
        }

        p{
            font-size: 15px;
            line-height:25px;
            color: var(--gray);
        }
    }
}
}


@media screen and (max-width: 576px){

    .home{

        .home-1{
            h5{
                font-size: 1.1rem;
            }
        
            h1{
                font-size: 2rem;
        
            }
        
            p{
                font-size: 0.8rem;
                line-height:25px;
                margin-bottom: 25px;
               
            }

            .hero-btn{
                
                .order__btn,.all-foods-btn{
                    background: var(--blue-navy);
                    font-size: 16px;
                    width: 100%;
                   }
                
            }
            
        
        }

      

    }
    

}